@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 221 60% 20%;
    --card: 0 0% 100%;
    --card-foreground: 221 60% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 60% 20%;
    --primary: 221 100% 31%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 92%;
    --secondary-foreground: 221 100% 31%;
    --muted: 212 30% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 66 69% 61%;
    --accent-foreground: 221 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 212 30% 85%;
    --input: 212 30% 85%;
    --ring: 221 100% 31%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 221 100% 8%;
    --foreground: 0 0% 98%;
    --card: 221 100% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 221 100% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 66 69% 61%;
    --primary-foreground: 221 100% 15%;
    --secondary: 221 50% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 50% 20%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 212 74% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 50% 20%;
    --input: 221 50% 20%;
    --ring: 66 69% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
